<body style="background-color: tan;">
{% extends 'base.html' %}
{% block content %}




<div id="carouselExampleSlidesOnly" class="carousel slide mx-4 my-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x900/?nature,water" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/img/1 (2).jfif" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/img/1 (3).jfif" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <h1><center>Student's Data</center></h1>

  <p>
    <a href="load_form">Add New</a> <br>
    <a href="show ">Show All</a>
  </p>

</body>
{% endblock %}