{% extends 'base.html' %}
{% block content %}


<h1 style="color:maroon;"><center>Welcome to Student's Detail Page</center></h1>

<div id="carouselExampleSlidesOnly" class="carousel slide mx-4 my-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x900/?school,books" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x900/?school,books" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x900/?school,books" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>


  <!--<h1><center>My Reference Material</center></h1> -->


  <div class= "album py-5"; style="color: darkblue;">
    <div class="container">
        <h1 class="my-2 text-center"><b>My Reference Material</b></h1>
  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
              <img src="https://source.unsplash.com/1600x900/?books" class="d-block w-100" alt="Books">
            <div class="card-body">
              <p class="card-text">This is the Refrence Material for <b>Class 5</b> Student <button type="button" class="btn btn-outline-dark"><a href="https://www.topperlearning.com/study/junior/class-5/b122c105" style="text-decoration: none; color:black;">Click Here</a></button>
              </p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?Science class="d-block w-100" alt="Books">
              <div class="card-body">
                <p class="card-text">This is the Refrence Material for <b>Class 6</b> Student <button type="button" class="btn btn-outline-dark"><a href="https://school.edufever.com/cbse/cbse-class-6-study-material/" style="text-decoration: none; color:black;">Click Here</a></button>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?Formula" class="d-block w-100" alt="Books">
              <div class="card-body">
                <p class="card-text">This is the Refrence Material for <b>Class 7</b> Student <button type="button" class="btn btn-outline-dark"><a href="https://school.edufever.com/cbse/class-7-study-material/" style="text-decoration: none; color:black;">Click Here</a></button>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?student" class="d-block w-100" alt="Books">
              <div class="card-body">
                <p class="card-text">This is the Refrence Material for <b>Class 8</b> Student <button type="button" class="btn btn-outline-dark"><a href="https://school.edufever.com/cbse/cbse-class-8-study-material/" style="text-decoration: none; color:black;">Click Here</a></button>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?Notebook" class="d-block w-100" alt="Books">
              <div class="card-body">
                <p class="card-text">This is the Refrence Material for <b>Class 9</b> Student <button type="button" class="btn btn-outline-dark"><a href="https://school.edufever.com/cbse/cbse-class-9-study-material/" style="text-decoration: none; color:black;">Click Here</a></button>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?pens" class="d-block w-100" alt="Books">
              <div class="card-body">
                <p class="card-text">This is the Refrence Material for <b>Class 10</b> Student <button type="button" class="btn btn-outline-dark"><a href="https://school.edufever.com/cbse/cbse-class-10-study-material/" style="text-decoration: none; color:black;">Click Here</a></button>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>









          
  <section id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div class="about_content bg-transparent">
                    <img src="images/about_img.jpg" alt="" class="about_img" />
                    <h2><bold><center>“Teachers open the door, but you must enter by yourself”</bold></center></h2>

                    <p><center>
                        Education is the process which aids learning, acquiring knowledge and skills to one's character.<br>
                        Education upgrades the thinking of society and helps to uproot social evils.<br>
                        It helps the uniform development of a country by fighting the inequalities of society.
                    </center>
                    </p>
                    
                    
                </div>
            </div>
            <div class="col-md-3 my-4">
                <div class="yoga_content">
                    <div class="yoga">
                        <h3 style="color:black;">Why Education..? <span>&xlarr;</span></h3>
                        <p style="color:darkblue;"> Education is a weapon to improve one’s life. It is probably the most important tool to change one’s life. Education for a child begins at home. It is a lifelong process that ends with death. Education certainly determines the quality of an individual’s life. Education improves one’s knowledge, skills and develops the personality and attitude. Most noteworthy, Education affects the chances of employment for people. A highly educated individual is probably very likely to get a good job. In this essay on importance of education, we will tell you about the value of education in life and society.</p>

                        
                    </div>
                   					
                </div>
            </div>

        </div>
    </div>
</section>

          
















  <p>
    <h2>Student's Detail</h2>
    <button type="button" class="btn btn-success"><a href="load_form" style="text-decoration: none; color:white;">Add New</a></button>
    <br>
    <br>
    <button type="button" class="btn btn-success"><a href="show " style="text-decoration: none; color: white;">Show All</a></button>
  </p>
  <footer><center><b> &copy; Copyright <a href="https://www.linkedin.com/in/pragya-kumari-3b858418a/" target="_blank" style="text-decoration: none; color: blue; ">Pragya Kumari</a>
  </b></center>
  </footer>
</body>
{% endblock %}

